@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-palette-600;
    @apply font-poppins;
    @apply text-palette-100;
    @apply text-xs sm:text-sm md:text-base;

    min-height: 100vh;
  }

  h1 {
    @apply text-2xl sm:text-3xl md:text-4xl;
    font-weight: bold;
  }

  h2 {
    @apply text-xl sm:text-2xl md:text-3xl;
    @apply mb-2 sm:mb-3 md:mb-4;
    font-weight: bold;
  }

  h3 {
    @apply text-lg sm:text-xl md:text-2xl;
    @apply mb-2 sm:mb-3 md:mb-4;
    font-weight: bold;
  }

  h4 {
    @apply sm:text-lg md:text-xl;
    font-weight: bold;
  }

  hr {
    @apply border-palette-500;
  }

  li {
    @apply text-xs sm:text-sm md:text-base;
  }

  p {
    @apply text-xs sm:text-sm md:text-base;

    margin-bottom: 0.5rem;
  }

  table {
    @apply border-palette-500;
    @apply p-2 sm:p-3 md:p-4;
    @apply rounded-lg;
    @apply text-center;
  }

  th,
  td {
    @apply border-2;
    @apply border-dotted;
    @apply border-palette-400;
    @apply p-1 sm:p-2;
  }

  caption {
    @apply text-palette-300;

    caption-side: bottom;
  }
}

@layer components {
  @import 'custom-list.css';
  @import 'highlight-col.css';
  @import 'markdown-list.css';
  @import 'row-link.css';
}
