@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-palette-600;
    @apply font-poppins;
    @apply text-white;

    margin: auto;
    min-height: 100vh;
    width: 70%;
  }

  h1 {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 3rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  hr {
    @apply border-palette-500;
  }

  p {
    margin-bottom: .5rem;
  }

  table {
    @apply border-palette-400;
    @apply p-4;
    @apply rounded-lg;
    @apply text-center;
  }

  th,
  td {
    @apply border-2;
    @apply border-dotted;
    @apply border-palette-400;
    @apply p-2;
  }

  caption {
    @apply text-palette-300;

    caption-side: bottom;
  }
}
