/*
 *  This is a CSS work-around to allow markdown rendered
 *  list elements to retain their list-style.
 *
 *
 *  HOW TO USE:
 *
 *  1. Wrap the markdown component in a tag of your choice.
 *
 *  2. Simply add the `markdown-list` class to the
 *     wrapping tag you chose.
 *
 */

.markdown-list ul,
.markdown-list ol,
.markdown-list p {
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.markdown-list ul {
  list-style: disc;
}

.markdown-list ol {
  list-style: decimal;
}

.markdown-list li {
  margin-bottom: 1rem;
}
